$icons = {
  sunrise: "\e929"
  sun: "\e900"
  cloudy: "\e901"
  cloud: "\e902"
  lightning: "\e903"
  rainy: "\e904"
  home3: "\e905"
  pencil2: "\e906"
  droplet: "\e907"
  image: "\e908"
  camera: "\e909"
  address-book: "\e90a"
  envelop: "\e90b"
  calendar: "\e911"
  bubble: "\e930"
  spinner9: "\e90c"
  search: "\e90d"
  cog: "\e90e"
  bin2: "\e90f"
  airplane: "\e910"
  sphere: "\e912"
  link: "\e913"
  attachment: "\e914"
  star-full: "\e92a"
  heart: "\e92d"
  happy2: "\e915"
  smile2: "\e916"
  sad2: "\e917"
  wink2: "\e918"
  cool2: "\e92b"
  wondering2: "\e919"
  frustrated2: "\e92e"
  crying2: "\e92c"
  notification: "\e91a"
  question: "\e91b"
  plus: "\e91c"
  info: "\e91d"
  cancel-circle: "\e91e"
  cross: "\e91f"
  checkmark: "\e920"
  checkbox-checked: "\e921"
  checkbox-unchecked: "\e922"
  radio-checked2: "\e923"
  radio-unchecked: "\e924"
  share2: "\e928"
  mail2: "\e92f"
  google-plus: "\e925"
  facebook: "\e926"
  twitter: "\e927"
}