+m(frm)
  //
+m(inline frm)
  //
+m(horizontal frm)
  //
//Groups
+m(grp)
  //
+m(lbl)
  //Label text
//Inputs
+m(txt)
  //
textarea
  {m(txt)}
    //
  //
+m(upl)
  //
+m(drp)//Select
  //
+m(chk)
  input
    m(sr)
  input:checked + {-m(btn)}
    m(active btn)
+m(rdo)
  m(chk)
+m(hlp)
  //
//Buttons
+m(btn)
  //
+m(hover btn)
  //
+m(active btn)
  //`

/*
p(m:grp)
  label(m:chk)
    input(type="radio", name="browser", value="safari")
    span(m:btn m:icn="safari")
      i Safari
  label(m:chk)
    input(type="radio", name="browser", value="firefox")
    span(m:btn m:icn="firefox")
      i Firefox
*/
