+m(b)
  font-weight bold
+m(i)
  font-style italic 
+m(u)
  text-decoration underline
+m(s)
  text-decoration strike-through
+m(sml)
  font-size xs
+m(abr)
  text-change big-caps
+m abr, init
  font-size sm
+m(mrk)
  background-color $primary
+m(var)
  //
+m(txt var)
  //
+m(spec var)
  //

code, kbd, pre, var, samp
  //