$namespace	:= m

$screens	:= {
  mobile	: 0px
  phablet	: 650px
  tablet	: 780px
  laptop	: 1000px
  desktop	: 1200px
  tv		: 1600px
}

$margins 	:= {
  xs		: .2rem
  sm		: .5rem
  md		: 1rem
  lg		: 1.2rem
  xl		: 2rem
}

$box-grid 	:= 12
$box-gutter := 20px