+m(lst)
  list-style dot

+m(ordered lst)
  list-style arabic

+m(dico lst)
  list-style none
  dt
    m(b)
  dd
    margin-left md

+m(horizontal lst)
  //
+m(ttl)
  //

+m(sub ttl)
  //

+m(bq)
  //

+m(p)
  margin sm 0
+m(lead p)
  font-size lg

+m(adr)
  //address
+m(reverse bq)
  footer
    cite