doctype html
html
  head
    meta(charset="utf-8")
    title Stories on the way
    link(rel="stylesheet" href="style/index.css")
  body
    header
      h1 Martin G. Gagnon
      p Efficiency Designer
    main: :markdown-it
      > A sprout is growing among trees,
      > 
      > Soon to look over the forest.
      >
      > In other words, site under construction.
      
      Please contact me at
      [MartinGuyGagnon@outlook.com](mailto:martinguygagnon@outlook.com)
      for enquiries about
      
      Business storycrafting, Graphic storytelling, or Personal storymaking.
      
      ...

      Or, you know, anything.
      
      I'm up to it.